In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [4]:
del df[df.columns[0]]

In [5]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

**a) Handling missing values**

In [6]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

**Removing units**

In [7]:
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' km/kg | kmpl','',regex = True),errors='coerce')
df['Engine'] = pd.to_numeric(df['Engine'].str.replace(' CC','',regex = True),errors='coerce')
df['Power'] = pd.to_numeric(df['Power'].str.replace(' bhp','',regex = True),errors='coerce')
df['New_Price'] = pd.to_numeric(df['New_Price'].str.replace(' Lakh | Cr','',regex = True),errors='coerce')

In [8]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,NaN,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

**a) Continuation**

In [9]:
df['Mileage'].fillna(df['Mileage'].mean(),inplace = True)
df['Engine'].fillna(df['Engine'].mean(),inplace = True)
df['Power'].fillna(df['Power'].mean(),inplace = True)
df['Seats'].fillna(df['Seats'].mode()[0],inplace = True)
df['New_Price'].fillna(df['New_Price'].median(),inplace = True)

Justification :
Handling missing values means deciding what to do with the empty spots in your data. I filled these gaps with average values from other data points for numerical data and mode for categorical data

In [10]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67000,1582.0,126.20,5.0,1.28,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.16115,1199.0,88.70,5.0,1.28,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77000,1248.0,88.76,7.0,1.28,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20000,1968.0,140.80,5.0,1.28,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08000,1461.0,63.10,5.0,1.28,3.50

In [11]:
df.describe()

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price
count,5847.000000,5.847000e+03,5847.000000,5847.000000,5847.000000,5847.000000,5847.000000,5847.000000
mean,2013.448435,5.841013e+04,18.161150,1631.552573,113.803144,5.284590,1.280200,9.653742
std,3.194949,9.237971e+04,4.355446,600.116234,53.730513,0.804372,0.017785,11.275966
min,1998.000000,1.710000e+02,0.000000,72.000000,34.200000,2.000000,1.000000,0.440000
25%,2012.000000,3.346750e+04,15.260000,1198.000000,78.000000,5.000000,1.280000,3.550000
50%,2014.000000,5.257600e+04,18.190000,1497.000000,98.600000,5.000000,1.280000,5.750000
75%,2016.000000,7.249050e+04,21.100000,1991.000000,138.100000,5.000000,1.280000,10.250000
max,2019.000000,6.500000e+06,28.400000,5998.000000,560.000000,10.000000,2.300000,160.000000

In [12]:
df.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

**C) One Hot encoding**

In [13]:
df = pd.get_dummies(df,columns=['Fuel_Type','Transmission'] ,prefix=['Fuel_Type','Transmission'])

In [14]:
df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67000,1582.0,126.20,5.0,1.28,12.50,1,0,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,18.16115,1199.0,88.70,5.0,1.28,4.50,0,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77000,1248.0,88.76,7.0,1.28,6.00,1,0,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20000,1968.0,140.80,5.0,1.28,17.74,1,0,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08000,1461.0,63.10,5.0,1.28,3.50,1,0,0,0,1

**d) Creating a New feature**

In [15]:
year_count = datetime.now().year
df['year_count'] = year_count-df['Year']

In [16]:
df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,year_count
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67000,1582.0,126.20,5.0,1.28,12.50,1,0,0,0,1,9
1,Honda Jazz V,Chennai,2011,46000,First,18.16115,1199.0,88.70,5.0,1.28,4.50,0,0,1,0,1,13
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77000,1248.0,88.76,7.0,1.28,6.00,1,0,0,0,1,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20000,1968.0,140.80,5.0,1.28,17.74,1,0,0,1,0,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08000,1461.0,63.10,5.0,1.28,3.50,1,0,0,0,1,11

In [17]:
selected_columns = df[['Mileage', 'Engine', 'Price']]
print("\nSelected Columns:")
print(selected_columns)

Selected Columns:
       Mileage  Engine  Price
0     19.67000  1582.0  12.50
1     18.16115  1199.0   4.50
2     20.77000  1248.0   6.00
3     15.20000  1968.0  17.74
4     23.08000  1461.0   3.50
...        ...     ...    ...
5842  28.40000  1248.0   4.75
5843  24.40000  1120.0   4.00
5844  14.00000  2498.0   2.90
5845  18.90000   998.0   2.65
5846  25.44000   936.0   2.50

[5847 rows x 3 columns]

In [18]:
filtered_data = df[df['Owner_Type'] == 'First']
print("\nFiltered Data:")
print(filtered_data)

Filtered Data:
                                   Name    Location  Year  Kilometers_Driven  \
0      Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                          Honda Jazz V     Chennai  2011              46000
2                     Maruti Ertiga VDI     Chennai  2012              87000
4                Nissan Micra Diesel XV      Jaipur  2013              86999
5     Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016              36000
...                                 ...         ...   ...                ...
5841              Honda Amaze VX i-DTEC  Coimbatore  2015              70602
5842                   Maruti Swift VDI       Delhi  2014              27365
5843           Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
5845                 Maruti Wagon R VXI     Kolkata  2013              46000
5846              Chevrolet Beat Diesel   Hyderabad  2011              47000

     Owner_Type   Mileage  Engine   Power  Seats  New_Price  Price  \
0         First  19.67000  1582.0  126.20    5.0       1.28  12.50
1         First  18.16115  1199.0   88.70    5.0       1.28   4.50
2         First  20.77000  1248.0   88.76    7.0       1.28   6.00
4         First  23.08000  1461.0   63.10    5.0       1.28   3.50
5         First  11.36000  2755.0  171.50    8.0       1.28  17.50
...         ...       ...     ...     ...    ...        ...    ...
5841      First  25.80000  1498.0   98.60    5.0       1.28   4.83
5842      First  28.40000  1248.0   74.00    5.0       1.28   4.75
5843      First  24.40000  1120.0   71.00    5.0       1.28   4.00
5845      First  18.90000   998.0   67.10    5.0       1.28   2.65
5846      First  25.44000   936.0   57.60    5.0       1.28   2.50

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                    1                   0                 0
1                    0                   0                 1
2                    1                   0                 0
4                    1                   0                 0
5                    1                   0                 0
...                ...                 ...               ...
5841                 1                   0                 0
5842                 1                   0                 0
5843                 1                   0                 0
5845                 0                   0                 1
5846                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  year_count
0                          0                    1           9
1                          0                    1          13
2                          0                    1          12
4                          0                    1          11
5                          1                    0           8
...                      ...                  ...         ...
5841                       0                    1           9
5842                       0                    1          10
5843                       0                    1           9
5845                       0                    1          11
5846                       0                    1          13

[4811 rows x 17 columns]

In [19]:
df.rename(columns={'Make and model': 'Car Model', 'Year of manufacture': 'Manufacture Year'}, inplace=True)
print("\nRenamed DataFrame:")
print(df)

Renamed DataFrame:
                                  Name    Location  Year  Kilometers_Driven  \
0     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                         Honda Jazz V     Chennai  2011              46000
2                    Maruti Ertiga VDI     Chennai  2012              87000
3      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4               Nissan Micra Diesel XV      Jaipur  2013              86999
...                                ...         ...   ...                ...
5842                  Maruti Swift VDI       Delhi  2014              27365
5843          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
5844             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
5845                Maruti Wagon R VXI     Kolkata  2013              46000
5846             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Owner_Type   Mileage  Engine   Power  Seats  New_Price  Price  \
0         First  19.67000  1582.0  126.20    5.0       1.28  12.50
1         First  18.16115  1199.0   88.70    5.0       1.28   4.50
2         First  20.77000  1248.0   88.76    7.0       1.28   6.00
3        Second  15.20000  1968.0  140.80    5.0       1.28  17.74
4         First  23.08000  1461.0   63.10    5.0       1.28   3.50
...         ...       ...     ...     ...    ...        ...    ...
5842      First  28.40000  1248.0   74.00    5.0       1.28   4.75
5843      First  24.40000  1120.0   71.00    5.0       1.28   4.00
5844     Second  14.00000  2498.0  112.00    8.0       1.28   2.90
5845      First  18.90000   998.0   67.10    5.0       1.28   2.65
5846      First  25.44000   936.0   57.60    5.0       1.28   2.50

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                    1                   0                 0
1                    0                   0                 1
2                    1                   0                 0
3                    1                   0                 0
4                    1                   0                 0
...                ...                 ...               ...
5842                 1                   0                 0
5843                 1                   0                 0
5844                 1                   0                 0
5845                 0                   0                 1
5846                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  year_count
0                          0                    1           9
1                          0                    1          13
2                          0                    1          12
3                          1                    0          11
4                          0                    1          11
...                      ...                  ...         ...
5842                       0                    1          10
5843                       0                    1           9
5844                       0                    1          12
5845                       0                    1          11
5846                       0                    1          13

[5847 rows x 17 columns]

In [20]:
df['miles driven'] = df['Kilometers_Driven'] * 0.621371  # Convert kilometers to miles
print("\nMutated DataFrame:")
print(df)

Mutated DataFrame:
                                  Name    Location  Year  Kilometers_Driven  \
0     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                         Honda Jazz V     Chennai  2011              46000
2                    Maruti Ertiga VDI     Chennai  2012              87000
3      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4               Nissan Micra Diesel XV      Jaipur  2013              86999
...                                ...         ...   ...                ...
5842                  Maruti Swift VDI       Delhi  2014              27365
5843          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
5844             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
5845                Maruti Wagon R VXI     Kolkata  2013              46000
5846             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Owner_Type   Mileage  Engine   Power  Seats  New_Price  Price  \
0         First  19.67000  1582.0  126.20    5.0       1.28  12.50
1         First  18.16115  1199.0   88.70    5.0       1.28   4.50
2         First  20.77000  1248.0   88.76    7.0       1.28   6.00
3        Second  15.20000  1968.0  140.80    5.0       1.28  17.74
4         First  23.08000  1461.0   63.10    5.0       1.28   3.50
...         ...       ...     ...     ...    ...        ...    ...
5842      First  28.40000  1248.0   74.00    5.0       1.28   4.75
5843      First  24.40000  1120.0   71.00    5.0       1.28   4.00
5844     Second  14.00000  2498.0  112.00    8.0       1.28   2.90
5845      First  18.90000   998.0   67.10    5.0       1.28   2.65
5846      First  25.44000   936.0   57.60    5.0       1.28   2.50

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                    1                   0                 0
1                    0                   0                 1
2                    1                   0                 0
3                    1                   0                 0
4                    1                   0                 0
...                ...                 ...               ...
5842                 1                   0                 0
5843                 1                   0                 0
5844                 1                   0                 0
5845                 0                   0                 1
5846                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  year_count  miles driven
0                          0                    1           9  25476.211000
1                          0                    1          13  28583.066000
2                          0                    1          12  54059.277000
3                          1                    0          11  25271.158570
4                          0                    1          11  54058.655629
...                      ...                  ...         ...           ...
5842                       0                    1          10  17003.817415
5843                       0                    1           9  62137.100000
5844                       0                    1          12  34175.405000
5845                       0                    1          11  28583.066000
5846                       0                    1          13  29204.437000

[5847 rows x 18 columns]

In [21]:
sorted_data = df.sort_values(by='Price', ascending=False)
print("\nSorted DataFrame by Price (Descending):")
print(sorted_data)

Sorted DataFrame by Price (Descending):
                                             Name    Location  Year  \
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad  2017
5620                   Lamborghini Gallardo Coupe       Delhi  2011
5752                       Jaguar F Type 5.0 V8 S   Hyderabad  2015
1457              Land Rover Range Rover Sport SE       Kochi  2019
1917                           BMW 7 Series 740Li  Coimbatore  2018
...                                           ...         ...   ...
3127                               Maruti 800 Std        Pune  2003
2758                             Hyundai Getz GLS        Pune  2005
3039                               Maruti Zen LXI      Jaipur  1998
1577                         Maruti 800 Std BSIII      Jaipur  2004
1660                                 Tata Nano Lx        Pune  2011

      Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats  New_Price  \
3952              25000      First    13.33  2993.0  255.0    5.0       2.30
5620               6500      Third     6.40  5204.0  560.0    2.0       1.28
5752               8000      First    12.50  5000.0  488.1    2.0       1.28
1457              26013      First    12.65  2993.0  255.0    5.0       1.39
1917              28060      First    12.05  2979.0  320.0    5.0       1.28
...                 ...        ...      ...     ...    ...    ...        ...
3127              52000      First    16.10   796.0   37.0    4.0       1.28
2758              86000     Second    15.30  1341.0   83.0    5.0       1.28
3039              95150      Third    17.30   993.0   60.0    5.0       1.28
1577              12000     Second    16.10   796.0   37.0    4.0       1.28
1660              65000     Second    26.00   624.0   35.0    4.0       1.28

       Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
3952  160.00                 1                   0                 0
5620  120.00                 0                   0                 1
5752  100.00                 0                   0                 1
1457   97.07                 1                   0                 0
1917   93.67                 0                   0                 1
...      ...               ...                 ...               ...
3127    0.50                 0                   0                 1
2758    0.45                 0                   0                 1
3039    0.45                 0                   0                 1
1577    0.45                 0                   0                 1
1660    0.44                 0                   0                 1

      Transmission_Automatic  Transmission_Manual  year_count  miles driven
3952                       1                    0           7  15534.275000
5620                       1                    0          13   4038.911500
5752                       1                    0           9   4970.968000
1457                       1                    0           5  16163.723823
1917                       1                    0           6  17435.670260
...                      ...                  ...         ...           ...
3127                       0                    1          21  32311.292000
2758                       0                    1          19  53437.906000
3039                       0                    1          26  59123.450650
1577                       0                    1          20   7456.452000
1660                       0                    1          13  40389.115000

[5847 rows x 18 columns]

In [22]:
grouped_data = df.groupby('Fuel_Type_Petrol').agg({'Mileage': 'mean', 'Price': ['min', 'max', 'mean']})
print("\nSummary Statistics Grouped by petrol Fuel Type:")
print(grouped_data)

Summary Statistics Grouped by petrol Fuel Type:
                    Mileage Price
                       mean   min    max       mean
Fuel_Type_Petrol
0                 18.655623  0.60  160.0  12.960632
1                 17.578432  0.44  120.0   5.756688

In [23]:
df.to_csv("train_processed.csv",index=False)